src/main/resources/xml/trips.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="trip">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="customerid" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="driver">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="driverid" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="payment" type="xs:unsignedShort" />
                <xs:element name="status" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="tripid" type="xs:unsignedByte" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>